@media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: center;
    }
    
    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-bottom: 6px;
    }
}

nav ul 
{
	list-style-type: none;
	display : flex;
	justify-content: space-around;
}

nav li
{
	margin-right: 20px;
}

nav a 
{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color : #013250;
}

.img-separateur {
	width: 100%;
	margin-bottom: 20px;
}